In [9]:
import sqlite3
import pandas as pd

In [5]:
con = sqlite3.connect("my_data.db")
cur = con.cursor()

In [3]:
%load_ext sql

In [6]:
%sql sqlite:///my_data.db

In [10]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

In [12]:
df.to_sql('SPACEXTBL',con , if_exists='replace', index=False,method='multi')

101

In [13]:
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [29]:

%sql create table SPACETABLE as select* from SPACEXTBL where Date is not null

 * sqlite:///my_data.db
(sqlite3.OperationalError) table SPACETABLE already exists
[SQL: create table SPACETABLE as select* from SPACEXTBL where Date is not null]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 1: Display the Names of the Unique Launch Sites

In [28]:
%%sql
SELECT DISTINCT "Launch_Site"
FROM SPACETABLE

 * sqlite:///my_data.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

### Task 2: Display 5 Records Where Launch Sites Begin with the String 'CCA'

In [27]:
%%sql
SELECT *
FROM SPACETABLE
WHERE "Launch_Site" LIKE 'CCA%'
LIMIT 5

 * sqlite:///my_data.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

## Task 3: Display the Total Payload Mass Carried by Boosters Launched by NASA (CRS)

In [31]:
%%sql
SELECT SUM('PayloadMass') AS TotalPayloadMass
FROM SPACETABLE
WHERE "Customer"="NASA(CRS)"

 * sqlite:///my_data.db
Done.

[(None,)]

### Task 4: Display Average Payload Mass Carried by Booster Version F9 v1.1

In [34]:
%%sql
SELECT AVG("PayloadMass") AS AveragePayloadMass
FROM SPACETABLE
WHERE "BoosterVersion" = 'F9 v1.1'

 * sqlite:///my_data.db
Done.

[(None,)]

## Task 5: List the Date When the First Successful Landing Outcome in Ground Pad was Achieved

In [38]:
%%sql
SELECT MIN('Date') AS FirstSuccessfulLandingDATE
FROM SPACETABLE
WHERE 'LandingOutcome' LIKE 'success(Ground Pad)'

 * sqlite:///my_data.db
Done.

[(None,)]

### Task 6: List the Names of the Boosters Which Have Success in Drone Ship and Have Payload Mass Greater Than 4000 but Less Than 6000

In [42]:
%%sql
SELECT "BoosterVersion"
FROM SPACETABLE
WHERE "LandingOutcome" LIKE 'Success (Drone Ship)%'
AND "PayloadMass" BETWEEN 4000 AND 6000

 * sqlite:///my_data.db
Done.

[]

### Task 7: List the Total Number of Successful and Failure Mission Outcomes

In [44]:
%%sql
SELECT "MissionOutcome", COUNT(*) AS TotalCount
FROM SPACETABLE
GROUP BY "MissionOutcome"

 * sqlite:///my_data.db
Done.

[('MissionOutcome', 101)]

### Task 8: List the Names of the Booster Versions Which Have Carried the Maximum Payload Mass

In [45]:
%%sql
SELECT 'BoosterVersion'
FROM SPACETABLE
WHERE 'PayloadMass'= (SELECT MAX('PayloadMass')FROM SPACETABLE)

 * sqlite:///my_data.db
Done.

[('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',),
 ('BoosterVersion',)]

### Task 9: List the Records Which Will Display the Month Names, Failure Landing Outcomes in Drone Ship, Booster Versions, and Launch Sites for the Months in Year 2015

In [65]:
%%sql
SELECT strftime('%Y-%m', "Date") AS Month,
       "LandingOutcome",
       "BoosterVersion",
       "LaunchSite"
FROM SPACETABLE
WHERE strftime('%Y', "Date") = '2015'
AND "LandingOutcome" LIKE 'Failure (Drone Ship)%'

 * sqlite:///my_data.db
Done.

[]

### Task 10: Rank the Count of Landing Outcomes Between the Dates 2010-06-04 and 2017-03-20 in Descending Order

In [66]:
%%sql
SELECT 'LandingOutcome',COUNT(*) AS OutcomeCount
FROM SPACETABLE 
WHERE 'Date' BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY "LandingOutcome"
ORDER BY OutcomeCount DESC

 * sqlite:///my_data.db
Done.

[]